.main-nosotros{
    .contenedor-nosotros-1{
        display: flex;
        padding-inline: 10rem;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.2rem dashed;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;

        
        @media (max-width: 992px){
            display: flex;
            flex-direction: column;
            padding-inline: 6rem;
        }

        @media (max-width: 768px){
            padding-inline: 5rem;
        }

        div{
            font-family: 'Afacad', sans-serif;
            font-size: 1.3rem;

            img{
                width: 100%;
            }
        }

        .div-text{
            width: 50rem;
            margin-right: 3rem ;

            @media (max-width: 992px){
                margin-right: 0rem;
                width: 100%;
                font-size: 1.2rem;
            }

            @media (max-width: 576px){
                font-size: 1rem;
            }
        }

        .div-img{
            width: 100%;
            max-width: 30%;

            @media (max-width: 992px){
                max-width: 100%;
            }
        }
    }

    .contenedor-nosotros-2{
        display: flex;
        padding-inline: 10rem;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 992px){
            padding-inline: 6rem;
        }

        @media (max-width: 768px){
            padding-inline: 5rem;
        }

        div{
            font-family: 'Afacad', sans-serif;
            font-size: 1.3rem;
            padding-bottom: 1.5rem;
        }

        .grilla{
            display: grid;
            grid-template-areas: 
                "texto"
                "foto "
                "texto2 ";
            gap: 1rem;

            @media (max-width: 992px){
                display: flex;
                flex-direction: column;
            }

            .div-text-1{
                grid-area: texto;

                @media (max-width: 992px){
                    font-size: 1.2rem;
                    width: 100%;
                }

                @media (max-width: 576px){
                    font-size: 1rem;
                }
            }

            .div-text-2{
                grid-area: texto2;

                @media (max-width: 992px){
                    font-size: 1.2rem;
                    width: 100%;
                }

                @media (max-width: 576px){
                    font-size: 1rem;
                }
            }

            .div-img{
                grid-area: foto;
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 5rem;

                @media (max-width: 992px){
                    display: flex;
                    flex-direction: column;
                    gap: 1rem
                }

                img{
                    width: 100%;

                    @media (max-width: 1200px){
                        gap: 1rem;
                    }
                    
                    @media (max-width: 576px){
                        
                    }
                }
            }
        }
    }
}